@model CommentResponse
@{
    ViewData["Title"] = "SpacePlace";
}
<!--Graphic Design is my passion /s -->
<!DOCTYPE html>
<html lang="en">
<body>
    <h1>SpacePlace</h1>

    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <p>Poster: @comment.Poster</p>
            <p>@comment.Content</p>
            <p>Likes: @comment.Likes</p>
            <p>Dislikes: @comment.Dislikes</p>
            <button onclick="replyComment()" class="btn">Reply</button>
            <br/>
            <!--<form method="post" asp-action="ReplyComment" id="reply" style="display:none">
                <div class="form-group">
                    
                </div>
            </form> TODO: Try to remember how forms work. :((-->
            @Html.Raw(Model.DisplayReplies(comment))
        </div>
    }

</body>
</html>