@model CommentResponse
@{
    ViewData["Title"] = "SpacePlace";
}

<!DOCTYPE html>
<html lang="en">
<body>
    <h1>SpacePlace</h1>

    <div class="post">
        <form method="post" asp-action="PostComment">
            <div class="form-group">
                <input type="text" class="form-control" id="Content" placeholder="Make a post..." name="Content" asp-for="Content" required />
            </div>
            <button type="submit" class="btn">Post</button>
        </form>
    </div>
    <div class="feed">
        @foreach (var comment in Model.Comments)
        {
            <div class="comment">
                <p>Poster: @comment.Poster</p>
                @if (comment.IsDeleted)
                {
                    <p><i>@comment.Content</i></p>
                }
                else
                {
                    <p>@comment.Content</p>
                }
                <button onclick="editComment('@comment.ID')" class="btn">Edit</button>
                <form method="post" asp-action="EditComment" id="edit-@comment.ID" style="display:none">
                    <div class="form-group">
                        <label for="Content">Content:</label>
                        <input type="hidden" name="id" value="@comment.ID" />
                        <input type="text" class="form-control" id="Content" name="Content" asp-for="Content" value="@comment.Content" required />
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
                <button onclick="cancelEdit('@comment.ID')" class="btn" id="editbtn-@comment.ID" style="display:none">Cancel</button>
                <form method="post" asp-action="DeleteComment">
                    <div class="form-group">
                        <input type="hidden" name="id" value="@comment.ID" />
                    </div>
                    <button type="submit" class="btn">Delete</button>
                </form>
                <p>Likes: @comment.Likes</p>
                <p>Dislikes: @comment.Dislikes</p>
                <button onclick="replyComment('@comment.ID')" class="btn">Reply</button>
                <form method="post" asp-action="PostComment" id="reply-@comment.ID" style="display:none">
                    <div class="form-group">
                        <label for="Content">Content:</label>
                        <input type="hidden" name="parentID" value="@comment.ID" />
                        <input type="text" class="form-control" id="Content" name="Content" asp-for="Content" required />
                    </div>
                    <button type="submit" class="btn">Submit</button>
                </form>
                <button onclick="cancelReply('@comment.ID')" class="btn" id="replybtn-@comment.ID" style="display:none">Cancel</button>
                @Html.Raw(Model.DisplayReplies(comment))
            </div>
        }
    </div>

    <!-- JavaScript -->
    <script>
        function editComment(commentID) {
            var editInput = document.getElementById("edit-" + commentID);
            var editButton = document.getElementById("editbtn-" + commentID);
            editInput.style.display = "block";
            editButton.style.display = "block";
        }
        function cancelEdit(commentID) {
            var cancelInput = document.getElementById("edit-" + commentID);
            var cancelButton = document.getElementById("editbtn-" + commentID);
            cancelInput.style.display = "none";
            cancelButton.style.display = "none";
        }
        function replyComment(commentID) {
            var replyInput = document.getElementById("reply-" + commentID);
            var replyButton = document.getElementById("replybtn-" + commentID);
            replyInput.style.display = "block";
            replyButton.style.display = "block";
        }
        function cancelReply(commentID) {
            var cancelInput = document.getElementById("reply-" + commentID);
            var cancelButton = document.getElementById("replybtn-" + commentID);
            cancelInput.style.display = "none";
            cancelButton.style.display = "none";
        }
    </script>

</body>
</html>